In [1]:
import numpy as np
import pandas as pd
from collections import Counter
import datetime
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
424,tt1438254,44000000,48190704,Charlie St. Cloud,Zac Efron|Amanda Crew|Kim Basinger|Chris Masso...,Burr Steers,Life is for living,Accomplished sailor Charlie St. Cloud has the ...,99,Drama,Universal Pictures|Marc Platt Productions|Rela...,5/1/2010,6.8,2010
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
713,tt1027862,21000000,17600000,Swing Vote,Kevin Costner|Madeline Carroll|Paula Patton|Ke...,Joshua Michael Stern,One ordinary guy is giving the candidates a re...,"In a remarkable turn of events, the result of ...",120,Drama|Comedy,Touchstone Pictures,8/1/2008,5.7,2008
1256,tt1517260,44000000,63327201,The Host,Saoirse Ronan|Diane Kruger|Jake Abel|William H...,Andrew Niccol,You will be one of us,A parasitic alien soul is injected into the bo...,125,Action|Adventure|Romance|Science Fiction|Thriller,Nick Wechsler Productions|Open Road Films|Silv...,3/22/2013,6.0,2013
1705,tt0472062,75000000,119000410,Charlie Wilson's War,Tom Hanks|Philip Seymour Hoffman|Julia Roberts...,Mike Nichols,Based on a true story. You think we could make...,The true story of Texas congressman Charlie Wi...,102,Comedy|Drama|History,Universal Pictures|Participant Productions|Pla...,12/19/2007,6.3,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
# создание столбца profit (прибыль)
data['profit'] = data['revenue'] - data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date'] = data.release_date.apply(lambda x:datetime.datetime.strptime(x, "%m/%d/%Y"))
# создание столбца month (месяц выхода фильма)
data['month'] = data.release_date.apply(lambda x: datetime.datetime.strftime(x, '%m'))
# создание столбца len_overview (количество символов в описании фильма)
data['len_overview'] = [len(x) for x in data.overview.str.split()]
# создание столбца cast_list (список актеров)
data['cast_list'] = data.cast.apply(lambda x: x.split('|'))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'

# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
# +

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,05,75,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I..."

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
data.sort_values(by='budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,05,75,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I..."

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [10]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,02,48,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke..."

ВАРИАНТ 2

In [11]:
data.sort_values(by='runtime', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,02,48,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke..."

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [13]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,04,52,"[Jim Cummings, Travis Oates, Jim Cummings, Bud..."

ВАРИАНТ 2

In [14]:
data.sort_values(by='runtime').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,04,52,"[Jim Cummings, Travis Oates, Jim Cummings, Bud..."

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = '4. 110'
# +

In [16]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '5. 107'
# +

In [18]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [20]:
answers['6'] = '6. Avatar (tt0499549)'
# +

In [21]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12,28,"[Sam Worthington, Zoe Saldana, Sigourney Weave..."

ВАРИАНТ 2

In [22]:
data.sort_values(by='profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12,28,"[Sam Worthington, Zoe Saldana, Sigourney Weave..."

# 7. Какой фильм самый убыточный?

In [23]:
answers['7'] = '7. The Lone Ranger (tt1210819)'
# +

In [24]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,07,68,"[Johnny Depp, Armie Hammer, William Fichtner, ..."

ВАРИАНТ 2

In [25]:
data.sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,07,68,"[Johnny Depp, Armie Hammer, William Fichtner, ..."

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [26]:
answers['8'] = ' 8. 1478'
# +

In [27]:
data[data.profit > 0]['profit'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
answers['9'] = '9. The Dark Knight (tt0468569)'
# +

In [29]:
data[data.release_year == 2008].sort_values(by='revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,07,67,"[Christian Bale, Michael Caine, Heath Ledger, ..."

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [30]:
answers['10'] = '10. The Lone Ranger (tt1210819)'
# +

In [31]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,07,68,"[Johnny Depp, Armie Hammer, William Fichtner, ..."

# 11. Какого жанра фильмов больше всего?

In [32]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [33]:
answers['11'] = '11. Drama'
# +

In [34]:
# создаем пустой список жанров
genres_list = []
# цикл парсинга жанров
for genre in data.genres:
    genres_list.append(genre.split('|'))
genres_list = sum(genres_list, [])
pd.DataFrame(genres_list).value_counts().head(1)

Drama    782
dtype: int64

ВАРИАНТ 2

In [35]:
# создаем пустой словарь жанров
genres_dict = {}
# цикл парсинга жанров
for string_number in data.index:
    for genre in data.loc[string_number].genres.split('|'):
        if genre in genres_dict:
            genres_dict[genre] += 1
        else:
            genres_dict[genre] = 1
# вывод максимального значения
max(genres_dict, key=genres_dict.get)

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [36]:
answers['12'] = '12. Drama'
# +

In [37]:
# создаем пустой список жанров
genres_list = []
# цикл парсинга жанров
for genre in data[data.profit > 0].genres:
    genres_list.append(genre.split('|'))
genres_list = sum(genres_list, [])
pd.DataFrame(genres_list).value_counts().head(1)

Drama    560
dtype: int64

ВАРИАНТ 2

In [38]:
# создаем пустой словарь жанров
genres_dict = {}
# цикл парсинга жанров
for string_number in data[data.profit > 0].index:
    for genre in data.loc[string_number].genres.split('|'):
        if genre in genres_dict:
            genres_dict[genre] += 1
        else:
            genres_dict[genre] = 1
# вывод максимального значения
max(genres_dict, key=genres_dict.get)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [39]:
answers['13'] = '13. Peter Jackson'
# +

In [40]:
# создаем пустой словарь режиссёров
directors_dict = {}
# цикл парсинга режиссёров
for string_number in data.index:
    for director in data.loc[string_number].director.split('|'):
        if director in directors_dict:
            directors_dict[director] += data.loc[string_number].revenue
        else:
            directors_dict[director] = data.loc[string_number].revenue
# вывод максимального значения
max(directors_dict, key=directors_dict.get)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [41]:
answers['14'] = '14. Robert Rodriguez'
# +

In [42]:
# создаем пустой словарь режиссёров
directors_dict = {}
# цикл парсинга режиссёров
for string_number in data[data.genres.str.contains('Action')].index:
    for director in data.loc[string_number].director.split('|'):
        if director in directors_dict:
            directors_dict[director] += 1
        else:
            directors_dict[director] = 1
# вывод максимального значения
max(directors_dict, key=directors_dict.get)

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [43]:
answers['15'] = '15. Chris Hemsworth'
# +

In [44]:
# создаем пустой словарь актёров
actors_dict = {}
# цикл парсинга актёров
for string_number in data[data.release_year == 2012].index:
    for actor in data.loc[string_number].cast.split('|'):
        if actor in actors_dict:
            actors_dict[actor] += data.loc[string_number].revenue
        else:
            actors_dict[actor] = data.loc[string_number].revenue
# вывод максимального значения
max(actors_dict, key=actors_dict.get)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [45]:
answers['16'] = '16. Matt Damon'
# +

In [46]:
# создаем пустой словарь актёров
actors_dict = {}
# цикл парсинга актёров
for string_number in data[data.budget > data.budget.mean()].index:
    for actor in data.loc[string_number].cast.split('|'):
        if actor in actors_dict:
            actors_dict[actor] += 1
        else:
            actors_dict[actor] = 1
# вывод максимального значения
max(actors_dict, key=actors_dict.get)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [47]:
answers['17'] = '17. Action'
# +

In [48]:
# создаем пустой словарь жанров
genres_dict = {}
# цикл парсинга жанров
for string_number in data[data.cast.str.contains('Nicolas Cage')].index:
    for genre in data.loc[string_number].genres.split('|'):
        if genre in genres_dict:
            genres_dict[genre] += 1
        else:
            genres_dict[genre] = 1
# вывод максимального значения
max(genres_dict, key=genres_dict.get)

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [49]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'
# +

In [50]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,07,23,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ..."

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [51]:
answers['19'] = '19. 2015'
# +

In [52]:
data[['release_year', 'revenue']].groupby(by='release_year').sum().sort_values(by='revenue', ascending=False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
answers['20'] = '20. 2014'
# +

In [54]:
data[data.production_companies.str.contains('Warner Bros')].groupby(by='release_year').sum().sort_values(by='profit', ascending=False)['profit'].head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
answers['21'] = '21. Сентябрь'
# +

In [56]:
# создаем пустой словарь месяцев
months_dict = {}
# цикл парсинга месяцев
for string_number in data.index:
    month = data.loc[string_number].release_date.month
    if month in months_dict:
        months_dict[month] += 1
    else:
        months_dict[month] = 1
# вывод максимального значения
max(months_dict, key=months_dict.get)

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [57]:
answers['22'] = '22. 450'
# +

In [58]:
months_dict[6] + months_dict[7] + months_dict[8]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [59]:
answers['23'] = '23. Peter Jackson'
# +

In [60]:
# создаем пустой словарь режиссёров
directors_dict = {}
# цикл парсинга режиссёров
for string_number in data[(data.month == '01') | (data.month == '02') | (data.month == '12')].index:
    for director in data.loc[string_number].director.split('|'):
        if director in directors_dict:
            directors_dict[director] += 1
        else:
            directors_dict[director] = 1
# вывод максимального значения
max(directors_dict, key=directors_dict.get)

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [61]:
answers['24'] = '24. Four By Two Productions'
# +

In [62]:
# Ответ неправильный
# создаем пустой словарь студий
production_companies_dict = {}
# цикл парсинга студий
for string_number in data[data.original_title.apply(len) > data.original_title.apply(len).mean()].index:
    for production_company in data.loc[string_number].production_companies.split('|'):
        if production_company in production_companies_dict:
            production_companies_dict[production_company] += 1
        else:
            production_companies_dict[production_company] = 1
# вывод максимального значения
max(production_companies_dict, key=production_companies_dict.get)

'Universal Pictures'

In [63]:
# Ответ правильный
# создаем пустой словарь студий
production_companies_dict = {}
# цикл парсинга студий
for string_number in data.index:
    for production_company in data.loc[string_number].production_companies.split('|'):
        if production_company in production_companies_dict:
            production_companies_dict[production_company].append(len(data.loc[string_number].original_title))
        else:
            production_companies_dict[production_company] = [len(data.loc[string_number].original_title)]

# создаем пустой среднего количества символов в названии фильма
mean_len_original_title_dict = {}
# цикл парсинга среднего количества символов в названии фильма
for production_company, len_original_title in production_companies_dict.items():
    mean_len_original_title_dict[production_company] = np.mean(len_original_title)
# вывод максимального значения
max(mean_len_original_title_dict, key=mean_len_original_title_dict.get)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [64]:
answers['25'] = '25. Midnight Picture Show'
# +

In [65]:
# создаем пустой словарь студий
production_companies_dict = {}
# цикл парсинга студий
for string_number in data.index:
    for production_company in data.loc[string_number].production_companies.split('|'):
        if production_company in production_companies_dict:
            production_companies_dict[production_company].append(data.loc[string_number].len_overview)
        else:
            production_companies_dict[production_company] = [data.loc[string_number].len_overview]

# создаем пустой среднего количества слов в описании фильма
mean_len_overview_dict = {}
# цикл парсинга среднего количества слов в описании фильма
for production_company, mean_len in production_companies_dict.items():
    mean_len_overview_dict[production_company] = np.mean(mean_len)
# вывод максимального значения
max(mean_len_overview_dict, key=mean_len_overview_dict.get)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [66]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [67]:
data.sort_values(by='vote_average', ascending=False).head(round(data.shape[0]/100))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_overview,cast_list
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,07,67,"[Christian Bale, Michael Caine, Heath Ledger, ..."
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11,35,"[Matthew McConaughey, Jessica Chastain, Anne H..."
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11,46,"[Benedict Cumberbatch, Keira Knightley, Matthe..."
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,06,112,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil..."
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10,49,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean..."
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,12,29,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,..."
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10,30,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil..."
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10,61,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ..."
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,07,28,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ..."
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,12,45,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L..."
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10,78,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,..."
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,07,44,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle..."
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,09,39,"[Adrien Brody, Thomas Kretschmann, Frank Finla..."
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,02,66,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah..."
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,24351251,12,65,"[Joaquin Phoenix, Scarlett Johansson, Rooney M..."
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,68346473,11,30,"[Mark Ruffalo, Michael Keaton, Rachel McAdams,..."
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,487105443,10,29,"[Scott Adsit, Ryan Potter, Daniel Henney, T.J...."
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,293151265,05,47,"[Shailene Woodley, Ansel Elgort, Nat Wolff, La..."
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2002-12-18,7.8,2002,847287400,12,41,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L..."

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [68]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint'
# +

In [69]:
# создаем пустой временный список пар актеров
temp_cast_list = []
# создаем пустой список пар актеров
cast_list = []
# цикл наполнения временного списка пар актеров
for string_number in data.index:
    temp_cast_list.append(list(itertools.combinations(data.cast_list.loc[string_number], 2)))
# цикл наполнения основного списка пар актеров
for element in temp_cast_list:
    for couple in element:
        cast_list.append(couple)
pd.Series(Counter(cast_list)).sort_values(ascending=False)

Daniel Radcliffe  Emma Watson             8
                  Rupert Grint            8
Rupert Grint      Emma Watson             7
Johnny Depp       Helena Bonham Carter    6
Ben Stiller       Owen Wilson             6
                                         ..
Emma Stone        Josh Brolin             1
Ryan Gosling      Nick Nolte              1
                  Josh Brolin             1
Sean Penn         Nick Nolte              1
Chris Pratt       Bryce Dallas Howard     1
Length: 18121, dtype: int64

# Submission

In [70]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': ' 8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint'}

In [71]:
# и убедиться что ни чего не пропустил)
len(answers)

27